.leash {
  font-family: "Rouge Script";
}

.and {
  /* font-family: "Bona Nova SC"; */
  font-family: "Baskervville";
}

.learn {
  /* font-family: "Patrick Hand SC"; */
  font-family: "Arsenal SC";
}

.dog-training {
  font-family: "Lexend Zetta";
}

.arsenal-sc {
  font-family: "Arsenal SC";
}

.waterfall {
  font-family: "Waterfall";
}

.phudu {
  font-family: "Phudu";
}

.anton-sc {
  font-family: "Anton SC";
}

.carousel-photos {
  min-height: 600px;
}

.navbar-paw {
  /* margin-left: 3.5%;
  margin-bottom: .5%; */
  margin-left: 35%;
  margin-top: 3.5%
}

.footer {
  width: 86.5%!important;
  float: right;
}

.footer-paw {
  margin-left: 35%;
  margin-top: 3%;
}

.bm-dashboard-bg {
  /* background: radial-gradient(ellipse at right, #e9d0bc, transparent),
            radial-gradient(ellipse at left, #4d9f0c, transparent); */
            /* background: radial-gradient(closest-side, #b8997f, #ffe9d1, #ffffff); */
  background: linear-gradient(to bottom, #fff 1%, #e4d0c6, #eed8cc, #fff 99%)
}